@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
  --bg-color: #d8dee9;
  --text-color: #516790;
  --highlight-color: #d74f24;
  --highlight-darker-color: #B7431F;
  --squares-bg-color: #b2bbcd;
}

* {
    padding:    0;
    margin:     0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    font-family: 'Pirata One', sans-serif;
    color: var(--text-color);
    font-size:30px;
}

#board-container {
    height: 95%;
    width: 95vw;
    max-width: 750px;
    max-height: 760px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    perspective: 1000px;
}

#top-bar {
    width: calc(100% - 30px);
    height: 40px;
    display: flex;
    justify-content:space-evenly;
    user-select: none;
}

.top-label {
    width: calc(14.286% - 10px);
    position: relative;
    text-align: center;
}

#left-bar {
    height: 100%;
    width: 30px;
    display: flex;
    flex-direction:column;
    padding-top:40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
}

.left-label {
    height: calc(14.286% - 10px);
    width: 30px;
    position: relative;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#squares-container {
    width: calc(100% - 30px);
    height: calc(100% - 40px);
    display: flex;
    flex-wrap:wrap;
}

.square {
    width: calc(14.286% - 10px);
    height: calc(14.286% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.square:active{
    transform: scale(0.87);
    transition: transform 0.5s;
}

.square.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
}

.front-face {
    background-color: var(--squares-bg-color);

}

.back-face {
    transform: rotateY(180deg);
    background-color: var(--highlight-color);
}

.last {
    outline:20px dotted var(--bg-color);
    outline-offset:-30px;
}

#info-box {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    user-select: none;
}

#last-square-info {
    color: var(--text-color);
    width: 280px;
    padding:20px;
    margin:20px;
    border: 2px solid var(--squares-bg-color);
    text-align:left;
    font-size:40px;
    user-select: none;
}

#random-button {
    height:200px;
    display:block;
    cursor:pointer;
    fill: var(--highlight-color);
    transform: scale(1);
    transition: transform 0.5s;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

#random-button:active {
    fill: var(--highlight-darker-color);
    transform: scale(0.9);
    transition: transform 0.5s;
}
