@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

:root {
  --bg-color: #D8E3E8;
  --text-color: #2e5b56;
  --highlight-color: #D61919;
  --highlight-darker-color: #BE0F0F;
  --squares-bg-color: #99ccc5;
}

body {
    font-family: 'Mountains of Christmas', sans-serif;
}

#top-label,
#left-label {
    width: calc(16.667% - 10px); 
}

.square {
    width: calc(16.667% - 10px);
    height: calc(16.667% - 10px);
}


#last-square-info {
    width: 290px;
}
