@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.5em;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

a {
    color: teal;
    text-decoration: none;
}

h1, h2 {
    color: teal;
}
